# Directorios y archivos generados automáticamente para ignorar
.pytest_cache/
venv/
.python-version

# Ignorar solo __pycache__ dentro del directorio src/
src/__pycache__/
tests/__pycache__/
__pycache__/
dataset/application_train_aai.csv